@import url(reset.css);

header {
	height: 200px;
	background: #E5E000;
}

.header-container {
	padding: 80px 890px 80px 80px;
}

h1 {
	width: 470px;
	height: 40px;
	font-size: 50px;
	font-family: Helvetica;
	align-items: center;
	color: #FFFFFF;
}

.sectionText {
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	text-transform: uppercase;
	padding: 36px 425px 35px 80px;
	color: #FFFFFF;
}

.image-container {
	height: 1280px;
	background-image: url(../img/artist.png);
	background-size: cover;
}


.links {
	height: 100px;
	background: #E5E000;
}


.mainText {
	padding: 110px 80px 100px 80px;
	font-family: Helvetica;
	font-style: normal;
	font-size: 50px;
	color: #000000;
}

.headText {
	font-family: Helvetica;
	font-weight: bold;
	font-size: 50px;
	color: #000000;
}

.textOne {
	margin-top: 57px;
	margin-bottom: 57px;
}

.textTwo {
	margin-bottom: 57px;
}

footer {
	height: 200px;
	background: #E5E000;
}

.footer-container{
	padding: 77px 80px 77px 80px;
	position: relative;
}

.copyright {
	position: absolute;
	right: 80px;
	top: 77px;
	font-family: Helvetica;
	font-size: 50px;
	display: inline-block;
	color: #FFFFFF;
}